.estilo-e-foto-de-capa {
    display: flex;

}


.dropzone {
    background-color: var(--shape-button);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    border-radius: .5rem;
    margin-top: -10px;

    padding: 10.5px .75rem;
    width: 120px;
    min-height: 40px;


    & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

  #upload {
    width: 24px;
  height: 24px;

    display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
}

.droparea-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;  
    margin-top: -35px;
}

#upload {
    background-image: url(../../assets/icons/upload.png);
}