input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    padding: 13px 1rem;
    

    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    
    & placeholder {
        color: var(--input-placeholder);
    }

}

.input-wrapper {
    margin-bottom: 1rem;
}

textarea {
    resize: none;
}
