input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    padding: 1rem;

    border: 1px solid var(--input-stroke);
    background-color: var(--input-base);
    
    & placeholder {
        color: var(--input-placeholder);
    }

}

.input-wrapper {
    margin: 1rem 1rem 0 0;
}
