.tipo-local-wrapper {
    display: flex;              /* 2 colunas lado a lado */
    gap: 1rem;                  /* espaçamento entre colunas */
    align-items: flex-start;    /* alinha pelo topo */
    margin: 1rem 0;
}

.tipo-local-col {
    display: flex;
    flex-direction: column;     /* label em cima do input/bloco */
    flex: 1;                    /* colunas iguais */
}

.radio-wrapper {
    display: flex; 
    gap: 0;  
    width: 100%;
    height: 48px;         /* botões lado a lado */
}

.radio-inner {
    border: 1px solid var(--input-stroke);
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background: #1C1F21;

    padding: 0px 18px;
    cursor: pointer;

    position: relative;
     & input,
    & input:focus,
    & input:hover {
    all: unset;
    inset: 0;
    position: absolute;
  }

  &:has(:checked) {
    background-color: var(--input-stroke);
  }

  span {
    width: 16px;
    height: 16px;

    display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }
}

.right {
    border-right: none;
    border-top-left-radius: .5rem;   
    border-bottom-left-radius: .5rem; 
    box-shadow:
        inset 4px 0 0 var(--input-base),  /* esquerda */
        inset 0 -4px 0 var(--input-base),   /* baixo */
        inset 0 4px 0 var(--input-base);
}

.left {
    border-left: none;
    border-top-right-radius: .5rem;   
    border-bottom-right-radius: .5rem; 
    box-shadow:
        inset -4px 0 0 var(--input-base),   /* direita */
        inset 0 -4px 0 var(--input-base),   /* baixo */
        inset 0 4px 0 var(--input-base);
}

.building {
    background-image: url(../../assets/icons/building-2.png);
}

.video {
    background-image: url(../../assets/icons/video.png);
}

.painter {
    background-image: url(../../assets/icons/paintbrush-vertical.png);
}

.personalize {
    h2 {
        color: #FFFFFF;
        font: var(--body-sm);
    }
    label {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
}

.flex-collors {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 12px;

}

.radio-card-collor {
    border: 6px solid var(--shape-button);
    border-radius: 50%;

    padding: 14px;

    position: relative;
     & input,
    & input:focus,
    & input:hover {
    all: unset;
    inset: 0;
    position: absolute;
  }

  &:has(:checked) {
    outline: 2px solid #59B2FF;
  }

  &:hover {
    border: 6px solid var(--shape-hover);
  }
}

.blue {
    background-color: #59B2FF;
}

.purple {
    background-color: #6A59FF;
}

.rosa-shock {
    background-color: #B259FF;
}

.rosa {
    background-color: #FF59F9;
}

.rosa-vermelho {
    background-color: #FF598B;
}

.laranja {
    background-color: #FF5959;
}

.laranja-claro {
    background-color: #FF8B59;
}

.amarelo {
    background-color: #FFCD59;
}

.amarelo-verde {
    background-color: #E1FF59;
}

.verde {
    background-color: #59FF91;
}

.ciano {
    background-color: #59FFF9;
}


.radio-wrapper-event {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: .5rem;
}



.radio-card-tema {
    background-color: var(--shape-button);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;

    padding: .25rem;

    position: relative;
     & input,
    & input:focus,
    & input:hover {
    all: unset;
    inset: 0;
    position: absolute;
  }

  h2 {
    font: 14px var(--font-family-open);
    color: var(--text-heading);
    margin-block: .5rem;
  }

  &:hover {
    background-color: var(--input-stroke);
  }

  &:has(:checked) {
    outline: 2px solid #59B2FF;
  }
}










