.input-wrapper-toggle {
    display: flex;
    align-items: center;
    gap: .75rem;
    min-width: 200px;          
}

#switch {
  position: relative;
  width: 64px;
}

#switch button {
    width: 24px;
  height: 24px;
  background: url(../../assets/icons/Ellipse\ 1.png) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 4px;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-go 0.2s forwards;

  background: url(../../assets/icons/Ellipse\ 1\ \(1\).png) no-repeat center;
}

.light #switch span {
     background-color: #59B2FF;
}


#switch span {
  display: block;
  width: 56px;
  height: 32px;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;

}

@keyframes slide-go {
  from {
    left: 4px;
  }
  to {
    left: calc(50% - 4px);
  }
}
@keyframes slide-back {
  from {
    left: calc(50% - 4px);
  }
  to {
    left: 4px;
  }
}