fieldset {
  border: none;

  display: grid;
}

legend {
  color: var(--text-heading);
  display: inline-block;
  padding-top: 40px;
  padding-bottom: 1.5rem;
  font: 600 1rem/0 var(--font-family-open);
}

