#app {
  display: grid;
  min-height: 100vh;
  overflow: hidden;
}

aside {
  background-image: url(../assets/Background.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: fixed; 
  top: 0;
  left: 0;
  width: 25%;            /* mesma largura do grid que você tinha */
  height: 100vh;
  margin: 1.25rem 0 1.25rem 1.25rem;
  padding: 2rem;
  min-height: 100vh;

  img {
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
  }

  h1 {
    font: var(--logo);
    color: #FF598B;
    margin-bottom: .25rem;
  }

  p {
    font: var(--body-md);
    color: var(--text-heading);
  }
}

.aside-container {
    max-width: 21rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

body {
  background-color: #121111;
}

main {
  background-color: var(--shape-body);
  border-radius: .75rem;
  padding: 5rem 8rem;
  margin-left: calc(25% + 2.50rem);
  margin-bottom: 1.50rem;
  overflow: auto;

  & .main-container {
    max-width: 35rem;
    margin: auto;
    width: 100%;
  }

  h1 {
    font: var(--heading-md);
  }
}
